extends layout.pug

block content
  .header
    h4.title.
      Evento finalizado - <span class='event-title'>#{event.name}</span>
      <hr/>

    p.message Hola #{event.owner.firstName},

    p.message Tu evento <span class='event-title'>#{event.name}</span> fue aprobado exitosamente.

    p.message El comentario de las embajadoras al aprobar el evento fue: <br/> <span class='human-message'>#{message}</span>

    p.message Notamos que el evento ya finalizó, por lo cual te pedimos por favor que nos cuentes cómo estuvo y si participaron otros embajadores ingresando <a class="blue-link" href='#{link}/event/complete/#{event.id}'>aquí</a>. Para nosotros es muy importante recibir tu feedback y sólo te tomará unos pocos minutos.

    p.message Recordá que podés cargar tus horas de voluntariado en <a class="blue-link" href="https://www.ibm.com/volunteers/home.wss">IBM Volunteers</a>.

    p.message ¡Muchas gracias y saludos!

  include footer.pug
